
@{
    ViewData["Title"] = "BlockChain - Manage different BlockChain categories for users.";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="col-12">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h1 class="h3 fw-bold text-primary">
                            Block Chain
                        </h1>
                    </div>
                    <div>
                        <button type="button" class="btn btn-primary" id="addBlockChainBtn">
                            <i class="fas fa-plus me-2"></i> Add Type
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="card border">
                        <div class="card-header bg-white py-3 border-bottom">
                            <h5 class="card-title mb-0">
                                <i class="fas fa-database me-2"></i> All Block Chains
                            </h5>
                        </div>
                        <div class="card-body p-0">
                            <!-- Desktop Table View -->
                            <div class="table-responsive d-none d-lg-block" style="max-height: 600px; overflow-y: auto;">
                                <table class="table table-hover mb-0">
                                    <thead class="table-light" style="position: sticky; top: 0; z-index: 1; background-color: #f8f9fa;">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Code</th>
                                            <th scope="col">CreatedOn</th>
                                            <th scope="col">ModifiedOn</th>
                                            <th scope="col">IsActive</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody id="blockChainsBody"></tbody>
                                </table>
                            </div>

                            <!-- Mobile Card View -->
                            <div class="d-lg-none" id="mobileBlockChainsCards">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Partials for Modals -->
    <partial name="_ActiveBlockChain.cshtml" />
    <partial name="_AddEditBlockChain.cshtml" />
    <partial name="_ViewBlockChain.cshtml" />
    <partial name="_DeleteBlockChain.cshtml" />
</div>

<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/Application/BlockChainController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new BlockChainController();
        ctrl.init();
    });
</script>

