<form id="AddEditUserCreditCardForm">
    <div class="sidebar" id="sidebar">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit User Credit Card</h5>
            <button type="button" class="close" id="closeSidebar" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="Cardholdername">Card holder name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Cardholdername">
                </div>
            </div>
            <div class="form-group">
                <label for="Cardnumber"> Card number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class='fa fa-id-card'></i></span>
                    </div>
                    <input type="text" class="form-control" id="Cardnumber">
                </div>
            </div>
            <div class="form-group">
                <label for="Expirymonth">Expiry month</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class='fas fa-calendar-alt'></i></span>
                    </div>
                    <input type="text" class="form-control" id="Expirymonth">
                </div>
            </div>
            <div class="form-group">
                <label for="ExpiryYear">Expiry Year</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class='fas fa-calendar-alt'></i></span>
                    </div>
                    <input type="text" class="form-control" id="ExpiryYear">
                </div>
            </div>

            <div class="form-group">
                <label for="Cardtype">Card type</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class='fas fa-money-check'></i></span>
                    </div>
                    <input type="text" class="form-control" id="Cardtype">
                </div>
            </div>

            <div class="form-group">
                <label for="IssuingBank">Issuing Bank</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class='fa fa-institution'></i></span>
                    </div>
                    <input type="text" class="form-control" id="IssuingBank">
                </div>
            </div>

            <div class="form-group">
                <label for="CVV">CVV</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    <input type="text" class="form-control" id="CVV">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
