@{

    ViewData["Title"] = "Refund Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap section">
    <div class="hero-mask opacity-9 bg-primary"></div>
    <div class="hero-bg" style="background-image:url('./images/bg/image-2.jpg');"></div>
    <div class="hero-content">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-12">
                    <h1 class="text-11 text-white mb-3">Refund Policy</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
                    <div class="input-group">
                        <input class="form-control shadow-none border-0" type="search" id="search-input" placeholder="Search for answer..." value="">
                        <div class="input-group-append">
                            <span class="input-group-text bg-white border-0 p-0">
                                <button class="btn text-muted px-3 border-0" type="button"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Popular Topics
  ============================================= -->
<section class="section bg-white">
    <div class="container">
        <h2 class="text-9 text-center">Refund Policy</h2>

        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    <div class="col-md-12">
                        <div class="accordion accordion-alternate" id="popularTopics">
                            <div class="card">
                                <div class="card-header" id="heading1">
                                    <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">For Buyer / Sender / Individual</a> </h5>
                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#popularTopics">
                                    <div class="card-body">
                                        Our charges for services rendered by betalen Technologies Pvt. Ltd. are on PAY PER USE basis! The charges are clearly mentioned at the time of billing & prior of your making the payment. By making the payment, you are confirming that you are comfortable with our charges. All the Payments once made is Non-Refundable, even if the services have not been fully rendered by us. In case of any error of payment, or wrong bill or overcharge, or double charge, payment failure, etc. you may contact our support through 121@betalen.in
                                        In making payments to the receiver/seller, whether registered with betalen Technologies Pvt. Ltd. or otherwise, you acknowledge and agree that betalen Technologies Pvt. Ltd. acts only as an intermediary and is not a party to the buying/selling transaction between payer and payee. Accordingly, betalen Technologies Pvt. Ltd. does not assume any responsibility and shall have no liability of any kind whatsoever, in respect of your dealings with receiver/seller including with regards to payment made, the proper and timely delivery of goods or services in good condition, and chargebacks. betalen Technologies Pvt. Ltd. in no way endorses, recommends and/or bears any responsibility or liability for any products, services or statements made by receiver/seller, whether registered with betalen Technologies Pvt. Ltd. or otherwise. Receiver/seller statements and opinions are not representative of betalen Technologies Pvt. Ltd. or its business partners and we bear no responsibility for their authenticity.

                                        Any dispute between the payer and receiver/seller, whether registered with betalen Technologies Pvt. Ltd. or otherwise, must be resolved directly between the payor and the payee. betalen Technologies Pvt. Ltd. does not have any responsibility for and cannot accept any liability for the actions of any receiver/seller and by using our services, you agree to pursue all claims and disputes against a receiver/seller directly with the applicable receiver/seller.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading2">
                                    <h5 class="mb-0">
                                        <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                                            For Seller/ Receiver/ Merchant
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#popularTopics">
                                    <div class="card-body">
                                        A transaction may be reversed or charged back to your account if it is disputed by the buyer, reversed for any reason by the Network, deemed to be fraudulent, deemed to be in violation of this Agreement, or we have any reason to believe that the transaction was not completed in good faith.

                                        For any transaction that results in a chargeback, the Company may withhold the transaction amount from your account. If your account has any pending resolution of any chargebacks, the Company has the discretion to delay your next payout(s). The Company reserves the right to withhold from your account the amount of one or more transactions if it believes that there is a significantly increased risk of a chargeback occurring on these transactions. The Company may also charge you a fee for each refund, or chargeback, or dispute incurred.

                                        If your account is incurring a significantly high volume of chargebacks according to the Company, the Company reserves the right to (a) suspend your account, (b) increase processing fees, (c) withhold payouts, (d) increase holding period for your funds to be paid out, (e) implement a rolling reserve.

                                        betalen Technologies Pvt. Ltd. reserve the right to charge a "Penalty fee" from the Users for abusing the platform, towards the charges incurred for the investigation, operational handling and legal consultation charges.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading3">
                                    <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Declaration from Buyer / Seller before initiating any transaction on betalen Technologies Pvt. Ltd.</a> </h5>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#popularTopics">
                                    <div class="card-body">
                                        Customer/Sender/Buyer confirms satisfactory delivery of goods and/or rendering of services (“Satisfactory Delivery”) before payment is initiated and waives all rights to raise disputes on the transaction via. betalen Technologies Pvt. Ltd. The user is however free to raise a dispute directly with the seller / receiver. This confirmation shall be obtained as below:
                                        Send to Bank a/c: By making the payment, the user confirms Satisfactory Delivery.
                                        Send to Mobile/Email: By sharing the PTCN number with the receiver / seller, the user confirms Satisfactory Delivery.
                                        Request to Pay/Invoice: By making a payment to Fulfill a request to pay, the user confirms Satisfactory Delivery
                                        Payment on the merchant’s account page (as and when enabled): By making a payment on merchant’s account page, the user confirms Satisfactory Delivery
                                        Merchant / Seller / Receiver confirms satisfactory delivery of goods and/or rendering of services (“Satisfactory Delivery”) before accepting payment into his account. The merchant /seller / receiver undertakes to provide all documents that maybe required by betalen Technologies Pvt. Ltd. and/or its payment gateway to ensure authenticity of the transaction, to settle disputes, or for whatever reasons betalen Technologies Pvt. Ltd. may require the documents for. This confirmation shall be obtained as below:
                                        Money to Bank a/c: Not applicable
                                        Money to Email/Mobile: By claiming the money via inputting the correct PTCN, the receiver confirms that he/she has already made a Satisfactory Delivery
                                        Request to pay/Invoice: By requesting for a payment, the requestor confirms that he/she has already made a Satisfactory Delivery
                                        Registered Merchant (as and when enabled): By initiating a payment request, the Merchant confirms that he/she has already made a Satisfactory Delivery
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading4">
                                    <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">How to Request Cancellation or Refund of the processing transaction?</a> </h5>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#popularTopics">
                                    <div class="card-body">
                                        If you have initiated a transaction at betalen & want to cancel or refund the transaction, you can do so by writing us at 121@betalen.in within 2 Hours of making the transaction.
                                        Please provide the reason of the cancellation or refund request.
                                        Also please note, any cancellation will incur a cost. For T+1 day transaction the cost shall be = ( minus convenience charges paid on top of the payment ) + 1% Refund/Cancellation Request Charges. For T+0 day transaction the cost shall be ( minus convenience charges paid on top of the payment ) + 2% Refund/Cancellation Request Charges.
                                        At any point of time, if you have any further question, please do write us at: 121@betalen.in
                                        Once request is received & cancellation is processed, it takes T+5 bank working days maximum for the transaction to be credited back to the source of payment. PS: Due to COVID 19 situation, overall banking & payment industry has less staff at disposal. Due to the same, the cancellation & refund time is longer than the usual.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="heading5">
                                    <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">How do I receive payments?</a> </h5>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#popularTopics">
                                    <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- Popular Topics end -->