<form id="AddEditUserBankAccountForm">
    <div class="sidebar" id="sidebar">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit User Bank Account</h5>
            <button type="button" class="close" id="closeSidebar" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="AccountHolderName">Account Holder Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="AccountHolderName">
                </div>
            </div>
            <div class="form-group">
                <label for="AccountNumber">Account Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                    </div>
                    <input type="text" class="form-control" id="AccountNumber">
                </div>
            </div>
            <div class="form-group">
                <label for="LastFourDigits">Last Four Digits</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                    </div>
                    <input type="text" class="form-control" id="LastFourDigits" maxlength="4">
                </div>
            </div>
            <div class="form-group">
                <label for="BranchName">Branch Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                    </div>
                    <input type="text" class="form-control" id="BranchName">
                </div>
            </div>
            <div class="form-group">
                <label for="RoutingNumber">Routing Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-route"></i></span>
                    </div>
                    <input type="text" class="form-control" id="RoutingNumber">
                </div>
            </div>
            <div class="form-group">
                <label for="IFSCCode">IFSC Code</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-code"></i></span>
                    </div>
                    <input type="text" class="form-control" id="IFSCCode">
                </div>
            </div>
            <div class="form-group">
                <label for="SWIFTCode">SWIFT Code</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                    </div>
                    <input type="text" class="form-control" id="SWIFTCode">
                </div>
            </div>
            <div class="form-group">
                <label for="AccountType">Account Type</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-list"></i></span>
                    </div>
                    <select class="form-control form-select" id="AccountType"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="Bank">Bank</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-university"></i></span>
                    </div>
                    <select class="form-control form-select" id="Bank"></select>
                </div>
            </div>
            <div class="form-group">
                <label for="Currency">Currency</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-dollar-sign"></i></span>
                    </div>
                    <select class="form-control form-select" id="Currency"></select>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
