@{

    ViewData["Title"] = "Request Money-Request your payment on anytime, anywhere in the world.";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <partial name="~/Views/Shared/_GridPartial.cshtml" />
</div>
<!-- Content end -->
<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/Application/StatusController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl = new StatusController();
        ctrl.init();
    });
</script>