<!-- Cancel Order Modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderLabel">Are you sure you want to cancel this order?</h5>
                <button type="button" class="btn-close btn-cancel-order-close" data-bs-dismiss="modal" aria-label="Close">X</button>

            </div>
            <div class="modal-body" style="padding:0">
                <div class="text-center" style="margin:5px;">
                    <textarea id="cancelOrderComment" class="form-control" rows="4" placeholder="Type your message here..."></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-cancel-order-close" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" id="btnCancelOrder"> Yes CancelOrder !</button>
            </div>
        </div>
    </div>
</div>

