<!-- Deposit Order Modal -->
<div class="modal fade" id="depositOrderModal" tabindex="-1" aria-labelledby="depositOrderLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="depositOrderLabel">Are you sure you want to deposit this order?</h5>
                <button type="button" class="btn-close btn-deposit-order-close" data-bs-dismiss="modal" aria-label="Close">X</button>

            </div>
            <div class="modal-body" style="padding:0">
                <div class="text-center" style="margin:5px;">
                    <textarea id="cancelOrderComment" class="form-control" rows="4" placeholder="Type your message here..."></textarea>
                </div>
            </div>
            
        </div>
    </div>
</div>

 