<div class="modal fade"
     id="orderQueueModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-centered orderqueue-modal">
        <div class="modal-content">

            <div class="modal-header d-flex justify-content-between align-items-center">
                <button type="button"
                        id="btnSyncOrderQueue"
                        class="btn btn-outline-success btn-sm">
                    <i class="fas fa-sync-alt me-1"></i> Sync
                </button>

                <button type="button"
                        class="btn-close btn-close-orderqueue"
                        aria-label="Close">X
                </button>
            </div>


            <div class="modal-body p-0 d-none d-lg-block">
                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-hover mb-0 w-100" id="orderQueueTable">
                        <thead class="table-light" style="position: sticky; top: 0; z-index: 1;">
                            <tr>
                                <!-- Select -->
                                <th style="width:40px; text-align:center;">
                                    <input type="checkbox" id="chkSelectAllQueue" />
                                </th>

                                <th>Order Reference</th>
                                <th>Amount</th>
                                <th>Charge Amount</th>
                                <th>Deposit Amount</th>
                                <th>User Info</th>
                                <th>Status</th>
                                <th>SLA</th>
                            </tr>
                        </thead>

                        <tbody id="orderQueueTableBody">
                            <!-- Data populated via JS -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-body d-lg-none" id="orderQueueMobileCards"></div>

            <div class="modal-footer">
                <button type="button"
                        id="btnAssignOrders"
                        class="btn btn-success">
                    <i class="fas fa-user-check me-1"></i> Assign
                </button>

            </div>

        </div>
    </div>
</div>
