<div class="modal fade"
     id="orderQueueModal"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-centered orderqueue-modal">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Order Queue</h5>
                <button type="button"
                        class="btn-close btn-close-orderqueue">X
                </button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover w-100">
                        <thead class="table-light">
                            <tr>
                                <!-- Select -->
                                <th style="width:40px; text-align:center;">
                                    <input type="checkbox" id="chkSelectAllQueue" />
                                </th>

                                <!-- Identity -->
                                <th style="width:220px;">OrderReference</th>
                                <th style="width:130px;">PaymentOrderId</th>

                                <!-- Customer -->
                                <th style="width:220px;">UserEmail</th>
                                <th style="width:160px;">UserPhone</th>

                                <!-- Amount -->
                                <th style="width:120px;">Amount</th>
                                <th style="width:90px;">Currency</th>

                                <!-- Queue -->
                                <th style="width:120px;">QueueStatus</th>
                                <th style="width:80px; text-align:center;">Priority</th>

                                <!-- Assignment -->
                                <th style="width:160px;">AssignedExecutiveId</th>
                                <th style="width:160px;">AssignedOn</th>

                                <!-- Control -->
                                <th style="width:160px;">CreatedOn</th>
                                <th style="width:80px; text-align:center;">IsActive</th>
                            </tr>
                        </thead>


                        <tbody id="orderQueueTableBody">
                            <!-- rows injected via JS -->
                        </tbody>
                    </table>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button"
                        id="btnAssignOrders"
                        class="btn btn-success">
                    <i class="fas fa-user-check me-1"></i> Assign
                </button>

            </div>

        </div>
    </div>
</div>
