<div class="modal fade" id="activateCreditCard" tabindex="-1" aria-labelledby="creditCardModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="creditCardModalLabel">Are you sure do you want to process this order payment ?</h5>

      </<div>
   </<div>

  </div>
</div>
