@{

    ViewData["Title"] = "Contactus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header
============================================= -->
<section class="page-header page-header-text-light bg-dark-3 py-5 d-none">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <ul class="breadcrumb mb-0">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Contact Us</li>
                </ul>
            </div>
            <div class="col-12">
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
</section>
<!-- Page Header End -->

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="weather-card one">
                <div class="top">
                    <div class="wrapper">
                        <div class="mynav">
                            <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                            <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                        </div>
                        <h1 class="heading">Instant payment process</h1>
                        <h3 class="location">User will recevice in 5mins</h3>
                        <p class="temp">
                            <span class="temp-value">5</span>
                            <a href="javascript:;"><span class="temp-type">Mins</span></a>
                        </p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="wrapper">
                        <ul class="forecast">
                            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                            <li class="active">
                                <span class="date">Visa/Master/Rupay/Mestro</span>
                                <span class="lnr lnr-sun condition">
                                    <span class="temp">4.00<span class="deg"></span><span class="temp-type">%</span></span>
                                </span>
                            </li>
                            <li>
                                <span class="date">American Express(India)</span>
                                <span class="lnr lnr-cloud condition">
                                    <span class="temp">5.00<span class="deg"></span><span class="temp-type">%</span></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="weather-card rain">
                <div class="top">
                    <div class="wrapper">
                        <div class="mynav">
                            <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                            <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                        </div>
                        <h1 class="heading">4Hrs payment Process</h1>
                        <h3 class="location">User will recevice in 4Hrs</h3>
                        <p class="temp">
                            <span class="temp-value">4</span>

                            <a href="javascript:;"><span class="temp-type">Hrs</span></a>
                        </p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="wrapper">
                        <ul class="forecast">
                            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                            <li class="active">
                                <span class="date">Visa/Master/Rupay/Mestro</span>
                                <span class="lnr lnr-sun condition">
                                    <span class="temp">3.50<span class="deg"></span><span class="temp-type">%</span></span>
                                </span>
                            </li>

                            <li>
                                <span class="date">American Express(India)</span>
                                <span class="lnr lnr-cloud condition">
                                    <span class="temp">4.50<span class="deg"></span><span class="temp-type">%</span></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="weather-card one">
                <div class="top">
                    <div class="wrapper">
                        <div class="mynav">
                            <a href="javascript:;"><span class="lnr lnr-chevron-left"></span></a>
                            <a href="javascript:;"><span class="lnr lnr-cog"></span></a>
                        </div>
                        <h1 class="heading">Next Banking Day</h1>
                        <h3 class="location">Mostly Tomarrow(9AM)</h3>
                        <p class="temp">
                            <span class="temp-value">Tomarrow </span>
                            <a href="javascript:;"><span class="temp-type">9AM</span></a>
                        </p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="wrapper">
                        <ul class="forecast">
                            <a href="javascript:;"><span class="lnr lnr-chevron-up go-up"></span></a>
                            <li class="active">
                                <span class="date">Visa/Master/Rupay/Mestro</span>
                                <span class="lnr lnr-sun condition">
                                    <span class="temp">2.50<span class="deg"></span><span class="temp-type">%</span></span>
                                </span>
                            </li>
                            <li>
                                <span class="date">American Express</span>
                                <span class="lnr lnr-cloud condition">
                                    <span class="temp">3.50<span class="deg"></span><span class="temp-type">%</span></span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>