@{

    ViewData["Title"] = "Request Money-Request your payment on anytime, anywhere in the world.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="login-signup-page mx-auto my-5">
        <h3 class="font-weight-400 text-center">Sign In</h3>
        <p class="lead text-center">Your login information is safe with us.</p>
        <div class="bg-light shadow-md rounded p-4 mx-2">

            <form id="formForgotPassword">
                <div class="form-group">
                    <label for="username">Phone / Email</label>
                    <input type="text" id="username" class="form-control" placeholder="Enter your Email /Phone" required />
                </div>

                <button class="btn btn-primary btn-block my-4" type="submit" id="btnSubmit">Submit</button>
            </form>
            <p class="text-3 text-muted text-center mb-0">Already have an account? <a class="btn-link" href="@Url.Action("Login", "Account", null)">Login</a></p>
        </div>
    </div>
</div>
<style>
    form i {
        cursor: pointer;
    }

    .yellow-color {
        color: yellow;
    }
</style>
<!-- Content end -->
<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/Application/ForgotPasswordController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl= new ForgotPasswordController();
        ctrl.init();
    });
</script>