@{

    ViewData["Title"] = "Request Money-Request your payment on anytime, anywhere in the world.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="login-signup-page mx-auto my-5">
        <h3 class="font-weight-400 text-center">Reset Password</h3>
        <p class="lead text-center">Your login information is safe with us.</p>
        <div class="bg-light shadow-md rounded p-4 mx-2">

            <form id="formResetPassword">
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input type="password" id="password" class="form-control" placeholder="Enter your password" required />
                        <div class="input-group-prepend">
                            <div class="input-group-text toggle-password"><i class="fa fa-eye-slash" id="eye"></i></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <div class="input-group">
                        <input type="password" id="confirmPassword" class="form-control" placeholder="Enter your password" required />
                        <div class="input-group-prepend">
                            <div class="input-group-text toggle-password"><i class="fa fa-eye-slash" id="eye"></i></div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary btn-block my-4" type="submit" id="btnSubmit">Submit</button>
            </form>
            <p class="text-3 text-muted text-center mb-0">Already have an account? <a class="btn-link" href="@Url.Action("Login", "Account", null)">Login</a></p>
        </div>
    </div>
</div>
<style>
    form i {
        cursor: pointer;
    }

    .yellow-color {
        color: yellow;
    }
</style>
<!-- Content end -->
<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/Application/ResetPasswordController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl= new ResetPasswordController();
        ctrl.init();
    });
</script>