@{

    ViewData["Title"] = "Request Money-Request your payment on anytime, anywhere in the world.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content
============================================= -->
<div id="content">
    <div class="login-signup-custom-page mx-auto my-5">
        <h3 class="font-weight-400 text-center">Sign Up</h3>
        <p class="lead text-center">Your Sign Up information is safe with us.</p>
        <div class="bg-light shadow-md rounded p-4 mx-2">
            <form id="formSignUp">
                <div class="form-row mb-4">
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="Firstname" class="form-label">First Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="Firstname" class="form-control" placeholder="Enter First Name" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="Lastname" class="form-label">Last Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input type="text" id="Lastname" class="form-control" placeholder="Enter Last Name" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="Email" class="form-label">Email Address</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                </div>
                                <input type="email" id="Email" class="form-control" placeholder="Enter Email Address" required />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="Phone" class="form-label">Phone Number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                </div>
                                <input type="tel" id="Phone" class="form-control" placeholder="Enter Phone Number" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row mb-4">
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="password" class="form-label">Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" id="password" class="form-control" placeholder="Enter your password" required />
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password"><i class="fa fa-eye-slash"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-3">
                        <div class="form-group">
                            <label for="confirmPassword" class="form-label">Confirm Password</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm your password" required />
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password"><i class="fa fa-eye-slash"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary btn-block my-4" id="btnSubmit" type="submit">Submit</button>
            </form>
            <div class="mb-2">
                <a href="/Account/ExternalLogin" class="btn btn-google custom-google-btn btn-block">
                    <div class="google-btn-content">
                        <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="google-icon">
                            <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z" />
                            <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z" />
                            <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z" />
                            <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z" />
                        </svg>
                        <span class="btn-text">Sign up with Google</span>
                    </div>
                </a>
            </div>
            <p class="text-3 text-muted text-center mb-0">Already have an account? <a class="btn-link" href="@Url.Action("Login", "Account", null)">Log In</a></p>
        </div>
    </div>
</div>
<style>
    form i {
        cursor: pointer;
    }

    .yellow-color {
        color: yellow;
    }
</style>
<!-- Content end -->
<script src="~/js/jquery/jquery.min.js"></script>
<script src="~/js/Application/SignUpController.js"></script>
<script type="text/javascript">
    $(function () {
        var ctrl= new SignUpController();
        ctrl.init();
    });
</script>