<footer>
    <div class="row text-center py-3">
        <div class="col">
            <a class="text-primary" href="https://betalen.in/"> ©2020 Copyright : Betalen.in</a>
        </div>
    </div>
</footer>
