<form id="AddEditUserBillingAddressForm">
    <div class="sidebar" id="sidebar">
        <div class="modal-header">
            <h5 class="modal-title">Add/Edit User Billing Address</h5>
            <button type="button" class="close" id="closeSidebar" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="AddressLineOne">Address Line One</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <input type="text" class="form-control" id="AddressLineOne" maxlength="50" required>
                </div>
            </div>
            <div class="form-group">
                <label for="AddressLineTwo">Address Line Two</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <input type="text" class="form-control" id="AddressLineTwo" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label for="AddressLineThree">Address Line Three</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                    </div>
                    <input type="text" class="form-control" id="AddressLineThree" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label for="Location">Location</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-location-arrow"></i></span>
                    </div>
                    <input type="text" class="form-control" id="Location" maxlength="50">
                </div>
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-globe"></i></span>
                    </div>
                    <select class="form-control form-select" id="Country" required></select>
                </div>
            </div>
            <div class="form-group">
                <label for="State">State</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-map"></i></span>
                    </div>
                    <select class="form-control form-select" id="State" required></select>
                </div>
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-city"></i></span>
                    </div>
                    <select class="form-control form-select" id="City" required></select>
                </div>
            </div>
            <div class="form-group">
                <label for="PinCode">Pin Code</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control" id="PinCode" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" id="btnsubmit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>